.mainDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 50;
}
.greyBackground {
  width: 100%;
  height: 100%;
  background-color:  #1a2920;
  opacity: .90;
}
.thePopup {
  background-color: rgb(157, 158, 157);
  width: 40%;
  height: 300%;
  position: absolute;
  left: 30%;
  top: 35%;
  text-align: center;
}
.thePopup h1{
  padding-right: 5px;
  float: right;
  text-align: right;
  justify-content: flex-start;
}
.thePopup h1:hover {
  float: right;
  background-color: #c20e0e;
  text-align: right;
  
}

.signbtn{
  position: fixed;
  left: 48%;
  text-decoration: bold;
  cursor: pointer; 
}

.signbtn:hover {
  background-color:rgb(225, 226, 225);;
  text-decoration: underline;
}

.log{
  padding-top: 5%;
  text-align: center;
}