.mainDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 50;
}
.greyBackground {
  width: 100%;
  height: 100%;
  background-color:  #1a2920;
  opacity: .90;
}
.thePopup {
  background-color: rgb(157, 158, 157);
  width: 40%;
  height: 300%;
  position: absolute;
  left: 30%;
  top: 35%;
  text-align: center;

}
.thePopup h1{
  flex-wrap: wrap;
  text-align: left;
  justify-content: flex-start;
}
.thePopup h1:hover {
  background-color: #c20e0e;
  width:5%;
  
  
}
.log{
  text-align: center;
}